
.facilities{
    padding-top: 5em;
    margin-bottom: 5em;

    &__title{
        text-align: center;
        color: #777777;
        font-family: Archivo;
        font-size: 1.1em;
        font-weight: 700;
        line-height: 1.8em;
        letter-spacing: 0.1em;

    }
    &__subtitle{
        font-family: Old Standard TT;
        font-size: 5.5em;
        font-weight: 400;
        line-height: 2em;
        letter-spacing: -0.05em;
        text-align: center;
    }
    &__slider{

        &__container{

            &__item{
                margin-top: 3em;
                padding: 8em 10em 5em 5em;
                max-width: 40em;

                &__img{
                    margin-bottom: 2em;

                }
                &__title{
                    font-family: Old Standard TT;
                    font-size: 3em;
                    font-weight: 400;
                    line-height: 2em;
                    letter-spacing: -0.05em;
                    text-align: left;

                }
                &__par{
                    font-family: Archivo;
                    font-size: 1.2em;
                    font-weight: 400;
                    line-height: 2em;
                    text-align: left;
                    color: #777777;
                }
            }
        }
        &__dotsLine{
            position: relative;
            bottom: 2em;
            display: block;
            text-align: center;

            &__dots{
                cursor: pointer;
                height: 0.7em;
                width: 0.7em;
                margin: 0.2em;
                background-color: #e3e3e2;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.5s ease;
            }
            &__dots:hover{
                background-color: #BEAD8E;
            }
        }
    }
}

.enable{
    background-color: #BEAD8E;
}

.back01{
    background-image: url(/assets/home/01.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}
.back02{
    background-image: url(/assets/home/02.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}
.back03{
    background-image: url(/assets/home/03.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}
.back04{
    background-image: url(/assets/home/04.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}
.back05{
    background-image: url(/assets/home/05.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}
.back06{
    background-image: url(/assets/home/06.png);
    background-repeat: no-repeat;
    background-position-x: 20em;
    background-position-y: top;
}

@media (width > 1000px) {
    .facilities{
        
        
        &__slider{
    
            &__container{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding-left: 40em;
                
                &__item{
                    display: block;
                }
            }
            &__dotsLine{
                display: none;
            }
        }
    }

}